.idea
.env
building
.venv_old
.venv
examples/ADX_data
*.pkl
*.fk
*.json
*.pyc
*.DS_Store
*.pkl*
*.toon
argus_swift/.build
.zed
.rg-doc
argus_swift/*.zip
*.enc
argus_swift/argus_server_dist
argus_swift/builds
argus_swift/.swiftpm
