[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "~=4.66.6"
websocket-client = "~=1.8.0"
python-dotenv = "~=1.2.2"
selenium = "~=4.28.1"
numpy = "*"
pandas = "*"
websockets = "~=12.0"
requests = "~=2.33.0"
termcolor = "*"
python-socks = "~=2.8.0"
py-clob-client-v2 = "*"
utils3 = {git = "https://github.com/the-sal/utils3"}
httpx = {extras = ["socks"], version = "*"}
coincurve = "*"

[dev-packages]

[requires]
python_version = "3.12"
