aiodns==3.5.0
aiofiles==0.7.0
aiohttp==3.9.5
aiolimiter==1.2.1
aiosignal==1.4.0
altgraph==0.17.4
annotated-types==0.7.0
ansi==0.3.7
anyio==4.9.0
appdirs==1.4.4
astunparse==1.6.3
attrs==25.3.0
audioop-lts==0.2.1
beautifulsoup4==4.12.3
bidict==0.23.1
bitarray==3.7.1
blinker==1.9.0
bs4==0.0.2
cdifflib==1.2.9
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
choreographer==1.1.1
chromedriver-autoinstaller==0.6.4
ckzg==2.1.5
claude-api-py==0.0.5
click==8.2.1
click-help-colors==0.9.4
contourpy==1.3.2
cryptography==45.0.5
curl_cffi==0.12.0
cycler==0.12.1
cytoolz==1.0.1
deezer-py==1.3.6
deezloader==2020.11.26
dlib==20.0.0
et_xmlfile==2.0.0
eth-account==0.13.7
eth-hash==0.7.1
eth-keyfile==0.8.1
eth-keys==0.7.0
eth-rlp==2.2.0
eth-typing==5.2.1
eth-utils==5.3.1
eth_abi==5.2.0
face-recognition==1.3.0
face_recognition_models==0.3.0
ffrecognition @ git+https://github.com/the-sal/ffrecognition@82cfe77203d1e4b8ebe4c7649539ba3a3d089bc3
Flask==3.0.3
flask-cors==6.0.1
Flask-SocketIO==5.5.1
fonttools==4.59.0
frozenlist==1.7.0
h11==0.16.0
hexbytes==1.3.1
httpcore==1.0.9
httpx==0.28.1
ic_audit @ git+https://github.com/the-sal/LOSER_v1@b9ddd9200ed045dbb825ca3d3675927df8d3f6c9
idna==3.10
imessage-reader==0.6.1
iniconfig==2.1.0
instaloader==4.14.2
iso8601==2.1.0
itsdangerous==2.2.0
jaraco.context==6.0.1
Jinja2==3.1.6
kaleido==1.1.0
kiwisolver==1.4.8
logistro==1.1.0
lxml==6.0.0
m3u8==0.9.0
macholib==1.16.3
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
mdurl==0.1.2
more-itertools==10.7.0
multidict==6.6.3
mutagen==1.47.0
narwhals==2.5.0
Nuitka==2.7.12
numpy==1.26.4
ollama==0.4.9
opencv-python==4.9.0.80
openpyxl==3.1.5
ordered-set==4.1.0
orjson==3.11.3
outcome==1.3.0.post0
packaging==25.0
pandas==2.2.3
pandas-stubs==2.3.0.250703
parsimonious==0.10.0
pathvalidate==2.5.2
patsy==1.0.1
perplexity-api==1.0.5
pillow==11.1.0
playerFramework==4.2
plotly==6.3.0
pluggy==1.6.0
poly_eip712_structs==0.0.1
propcache==0.3.2
protobuf==3.20.3
PSNLib @ git+https://github.com/the-sal/PSNLib@1a83672b6eb47724c04820829611be36ce6df0f8
psutil==7.0.0
py-code-cleaner==1.3.0
py_clob_client==0.25.0
py_order_utils==0.3.2
pycares==4.9.0
pycparser==2.22
pycryptodome==3.23.0
pycryptodomex==3.23.0
pydantic==2.11.7
pydantic_core==2.33.2
pydub==0.25.1
Pygments==2.19.2
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
PyMuPDF==1.26.3
pyparsing==3.2.3
PyQt3D==5.15.7
PyQt5==5.15.11
PyQt5_sip==12.17.0
PyQtChart==5.15.7
PyQtDataVisualization==5.15.6
PyQtNetworkAuth==5.15.6
PyQtPurchasing==5.15.6
PyQtWebEngine==5.15.7
PySocks==1.7.1
pytest==8.4.1
pytest-asyncio==0.21.2
pytest-mock==3.14.1
pytest-timeout==2.4.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.12.2
python-socketio==5.13.0
pytz==2025.2
regex==2025.9.18
requests==2.32.4
rich==13.9.4
rlp==4.1.0
scipy==1.16.1
seaborn==0.13.2
selenium==4.28.1
setuptools==80.9.0
simple-term-menu==1.6.6
simple-websocket==1.1.0
simplejson==3.20.1
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.7
spotipy==2.25.1
sseclient-py==1.8.0
stagger==1.0.0
statsmodels==0.14.5
streamrip==2.1.0
termcolor==2.4.0
tk==0.1.0
toml==0.10.2
tomlkit==0.7.2
toolz==1.0.0
tqdm==4.66.6
trio==0.30.0
trio-websocket==0.12.2
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.5.0
utils-s==3.8
utils2 @ git+https://github.com/the-sal/utils2@e00b8db6ee857db969c6df9e28fe583dd32b209b
utils3 @ git+https://github.com/the-sal/utils3@7ce5947d637e07d422918f7a0bdbd44cb44fff87
Vis @ git+https://github.com/the-sal/DartVision@a9531d4b69b00049150d43952cbdabaa24ec7cd6
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.1.3
wheel==0.45.1
wolframalpha==5.0.1
wsproto==1.2.0
xmltodict==0.14.2
yarl==1.20.1
yt-dlp==2025.9.26
ytmusicapi-freezeable @ git+https://github.com/The-Sal/ytmusicapi-freezable@51a69678b7abf0b119a329a50aea451b54a841c5
zstandard==0.23.0
